@page "/"
@inject IMarkdownService MarkdownService

<PageTitle>.NET net nett</PageTitle>

<h1>Contents</h1>

<MudList T="string">
    @foreach (var node in Tree.Nodes)
    {
        <MudListItem Icon="@Icons.Material.Filled.Inbox" Text="@node.Name" Expanded>
            <NestedList>
                @foreach (var child in node.Children)
                {
                    var link = $"{child.Category}/{child.Index}";
                    <MudListItem 
                        Icon="@Icons.Material.Filled.Article" 
                        Text="@($"{child.Index.ToString("D3")} - {child.Title}")"
                        Href="@link">            
                    </MudListItem>
                }
            </NestedList>
        </MudListItem>
    }
</MudList>

@code
{
    ContentTree Tree { get; set; } = new ContentTree();

    protected override async Task OnInitializedAsync()
    {
        // await Task.Delay(TimeSpan.FromSeconds(1));
        Tree = await MarkdownService.GetContentTree();
        StateHasChanged();
    }
}


